*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-family: "Lato", sans-serif; }

body {
  background-color: #313030; }

.search-input {
  position: relative;
  z-index: 8;
  width: 100%;
  outline: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-size: 1.3rem; }
  @media only screen and (min-width: 46.88em) {
    .search-input {
      width: 80%; } }

.container {
  padding: 0 2rem; }

.popup-active {
  visibility: visible !important;
  opacity: 1 !important; }

.overlay {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 9;
  background: rgba(0, 0, 0, 0.7); }

.active {
  display: block; }

.icon {
  font-size: 2rem;
  margin-bottom: 0.6rem; }
  .icon--lg {
    font-size: 10rem;
    color: #ccc; }

.navigation {
  padding: 1rem 2rem;
  color: #ccc;
  background: #313030; }

.popup {
  position: fixed;
  width: 90%;
  max-height: 30rem;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  background: white;
  transform: translateX(-50%);
  left: 50%;
  top: 10%;
  z-index: 50;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s; }
  @media only screen and (min-width: 46.88em) {
    .popup {
      padding: 1rem; } }
  .popup__close {
    position: fixed;
    right: 1rem;
    top: 1rem;
    color: #eb3e3e;
    font-size: 2rem;
    cursor: pointer; }
  .popup__header {
    display: flex;
    flex-direction: column; }
    @media only screen and (min-width: 46.88em) {
      .popup__header {
        flex-direction: row; } }
  .popup__details {
    width: 100%; }
  .popup__image {
    width: 100%;
    height: 20rem; }
    @media only screen and (min-width: 46.88em) {
      .popup__image {
        width: 20rem;
        height: 20rem; } }
    .popup__image--poster {
      height: inherit;
      width: inherit; }
  .popup__info {
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem; }
  .popup__ratings {
    padding: 2rem 0;
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center; }
    .popup__ratings--imdb, .popup__ratings--metascore {
      width: 30%;
      padding: 2rem 1rem;
      background: #f0b2b2; }
    .popup__ratings--imdb {
      margin-right: 1rem; }
  .popup__genre {
    text-align: center; }
  .popup__plot {
    padding: 1rem; }

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 5;
  background-image: url("https://tonysoukkeo.github.io/moviesearch/images/banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  height: 60vh; }
  .banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); }
  .banner__inner {
    width: 100%;
    text-align: center; }
  .banner__header {
    position: relative;
    z-index: 8;
    text-transform: uppercase;
    color: #fff;
    font-size: 1.3rem;
    padding-bottom: 1rem; }

.display {
  position: relative;
  z-index: 5;
  height: 100%;
  width: 100%;
  padding: 0.8rem 0;
  text-align: center; }
  .display__list {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-column-gap: 0.4rem;
    grid-row-gap: 0.8rem;
    list-style-type: none; }
    @media only screen and (min-width: 46.88em) {
      .display__list {
        padding: 0 2rem;
        grid-template-columns: repeat(3, 33.33%); } }
    @media only screen and (min-width: 70em) {
      .display__list {
        grid-template-columns: repeat(4, 25%); } }
  .display__card {
    position: relative;
    background: #f8f6f6;
    width: calc(100% - 0.4rem);
    overflow: hidden; }
    .display__card--body {
      padding: 1rem; }
    .display__card-poster {
      width: 100%;
      height: 20rem; }
      .display__card-poster--img {
        height: inherit;
        width: inherit; }
    .display__card--title {
      text-align: center;
      padding-bottom: 0.4rem; }
    .display__card--footer {
      margin-top: 1rem;
      display: flex;
      justify-content: space-between; }
    .display__card--btn {
      position: absolute;
      top: -3rem;
      right: -4rem;
      cursor: pointer;
      background: rgba(11, 12, 82, 0.7);
      width: 10rem;
      height: 7rem;
      transform: rotate(40deg); }
      .display__card--btn,
      .display__card--btn p {
        transition: top 0.3s, right 0.3s, left 0.3s, bottom 0.3s, width 0.3s; }
      .display__card--btn p {
        position: absolute;
        color: #fff;
        text-transform: uppercase;
        bottom: 15%;
        left: 40%;
        transform: rotate(-40deg); }
      @media only screen and (min-width: 46.88em) {
        .display__card--btn:hover {
          top: -2.9rem;
          right: -3.9rem;
          width: 11rem; }
        .display__card--btn:hover p {
          left: 46%;
          bottom: 20%; } }
