.display {
  position: relative;
  z-index: 5;
  height: 100%;
  width: 100%;
  padding: 0.8rem 0;
  text-align: center;

  &__list {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-column-gap: 0.4rem;
    grid-row-gap: 0.8rem;
    list-style-type: none;

    @include respond(medium) {
      padding: 0 2rem;
      grid-template-columns: repeat(3, 33.33%);
    }

    @include respond(large) {
      grid-template-columns: repeat(4, 25%);
    }
  }

  &__card {
    position: relative;
    background: #f8f6f6;
    width: calc(100% - 0.4rem);
    overflow: hidden;

    &--body {
      padding: 1rem;
    }

    &-poster {
      width: 100%;
      height: 20rem;

      &--img {
        height: inherit;
        width: inherit;
      }
    }

    &--title {
      text-align: center;
      padding-bottom: 0.4rem;
    }

    &--footer {
      margin-top: 1rem;
      display: flex;
      justify-content: space-between;
    }

    &--btn {
      position: absolute;
      top: -3rem;
      right: -4rem;
      cursor: pointer;
      background: rgba(11, 12, 82, 0.7);
      width: 10rem;
      height: 7rem;
      transform: rotate(40deg);

      &,
      p {
        transition: top 0.3s, right 0.3s, left 0.3s, bottom 0.3s, width 0.3s;
      }

      p {
        position: absolute;
        color: #fff;
        text-transform: uppercase;
        bottom: 15%;
        left: 40%;
        transform: rotate(-40deg);
      }

      @include respond(medium) {
        &:hover {
          top: -2.9rem;
          right: -3.9rem;
          width: 11rem;
        }

        &:hover p {
          left: 46%;
          bottom: 20%;
        }
      }
    }
  }
}
