.popup {
  position: fixed;
  width: 90%;
  max-height: 30rem;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  background: white;
  transform: translateX(-50%);
  left: 50%;
  top: 10%;
  z-index: 50;
  transition: all 0.3s;

  @include respond(medium) {
    padding: 1rem;
  }

  &__close {
    position: fixed;
    right: 1rem;
    top: 1rem;
    color: #eb3e3e;
    font-size: 2rem;
    cursor: pointer;
  }

  &__header {
    display: flex;
    flex-direction: column;

    @include respond(medium) {
      flex-direction: row;
    }
  }

  &__details {
    width: 100%;
  }

  &__image {
    width: 100%;
    height: 20rem;

    @include respond(medium) {
      width: 20rem;
      height: 20rem;
    }

    &--poster {
      height: inherit;
      width: inherit;
    }
  }

  &__info {
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
  }

  &__ratings {
    padding: 2rem 0;
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;

    &--imdb,
    &--metascore {
      width: 30%;
      padding: 2rem 1rem;
      background: rgb(240, 178, 178);
    }

    &--imdb {
      margin-right: 1rem;
    }

    &--metascore {
    }
  }

  &__genre {
    text-align: center;
  }

  &__plot {
    padding: 1rem;
  }
}
