// Search input
.search-input {
  position: relative;
  z-index: 8;
  width: 100%;
  outline: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-size: 1.3rem;

  @include respond(medium) {
    width: 80%;
  }
}

.container {
  padding: 0 2rem;
}

// Dark overlay
.overlay {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 9;
  background: rgba(0, 0, 0, 0.7);
}

// Fontawesome icon styling
.icon {
  font-size: 2rem;
  margin-bottom: 0.6rem;

  &--lg {
    font-size: 10rem;
    color: #ccc;
  }
}
